<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="header" th:fragment="bodyHeader">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/">Navbar</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!--    로그인 상태     -->
          <div sec:authorize-expr="isAuthenticated()">


            <h5 sec:authentication="name">Name</h5>
            <a class="nav-link" href="/logout">로그아웃</a>


          </div>
          <!--      로그인 미상태    -->
          <div sec:authorize-expr="!isAuthenticated()">

            <a class="nav-link" href="/login" >로그인</a>

          </div>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="/members/signup">회원가입</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/boards/boardList">게시판</a>
        </li>
      </ul>
      ul
    </div>
  </nav>
</div>